.header_part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background: #e9e9e9;
    border-radius: 5px;
    margin-bottom: 20px;
}
.right_content a {
    padding: 6px 9px;
    border: 2px solid #b9aeae;
    border-radius: 4px;
    color: #000;
    margin-right: 14px;
    font-weight: 500;
}

.right_content a:hover {
    border: 2px solid #1e1f20;
    background: #1e1f20;
    color: #f5f5f5;
}
.header_part h5 {
    font-size: 25px;
}
td.edit_delete a:first-child {
    color: #198754;
    margin-right: 20px;
}

td.edit_delete a:last-child {
    color: #f53c3c;
    margin-left: 15px;
}

td.edit_delete a {
    color: #04281c;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(49 72 94) !important;
}
.addUser_content {
    width: 500px;
    margin: auto;
}
.header_part h5 a {
    color: #504545;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 5px 15px;
    width: 100%;
    max-width: 500px;
    background-color: #f8f9fa;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    padding-left: 10px;
}

.search-bar input[type="file"] {
    display: none;
}

.search-bar input::placeholder {
    color: #999;
}

.search-bar .fas {
    color: #999;
}

.search-bar label {
    margin: 0;
    cursor: pointer;
}
.search-bar button {
    border: rgb(255, 255, 255);
    background: no-repeat;
}
.ellipsis {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td.edit_dele a {
    margin-right: 13px;
}

td.edit_dele a:last-child {
    margin-right: 0;
    color: #ff4141 !important;
}
